/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

body {
  padding: 10px 5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  padding: 2rem;
}

.user_element {
  display: flex;
  margin-bottom: 1rem;
}

.user_img {
  width: fit-content;
  border: 1px solid black;
  margin-right: 2rem;
}

.user_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 3;
  margin: 0.5rem 0;
  border: 1px solid black;
  padding: 1rem;
}

.user_name h2 {
  margin: 0;
  font-size: 4rem;
}

.user_name p {
  margin: 0;
  align-self: flex-end;
}

.user_bio {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
}

h3 {
  margin: 0;
}

.user_bio p {
  margin: 1rem 0;
}

.post_container {
  margin-bottom: 1rem;
}

.post_element {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 0.1rem;
}

.post_element span {
  align-self: flex-end;
}

.post_header {
  display: flex;
  justify-content: space-between;
}

.button_all {
  display: flex;
  justify-content: center;
}

.button_all a,
input[type=submit] {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.9);
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 4px;
  text-decoration: none;
  color: black;
}

.comment_element {
  border: 1px solid black;
  padding: 1rem;
}

.comment_element p {
  margin: 0;
}

div.pagination {
  color: black;
}
